

.base_weapon_circle {
    background-color: #470b0b;
    border-radius: 50%;
    width: 145px;
    height: 145px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 15px 15px 15px;
    padding: 15px;
}

.arrow {
    width: 56px;
    height: 46px;
    -unity-background-scale-mode: scale-to-fit;
}

.weapon-image {
    width: 126px;
    height: 126px;
    -unity-background-scale-mode: scale-to-fit;
}

.test {
    font-size: 25px;
}
